/* TODO: Make all values relative / make design responsive */
:root {
	font-family: 'Roboto Flex Variable', Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;

	/* font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%; */

	/* --color: #222222; */
	--color: #f6f6f6;
	/* --background: linear-gradient(180deg, #b0d0d6 0%, #528e93 100%); */
	/* --background: linear-gradient(180deg, rgba(176, 208, 214, 0.1) 0%, rgba(82, 142, 147, 0.1) 100%); */
	--background: transparent;
	--tb-btn-color: #0f0f0f;
	--tb-btn-color-close: #f6f6f6;
	--tb-btn-border-color-active: #396cd8;
	--tb-btn-bg-color: #ffffff;
	--tb-btn-bg-color-hover: rgba(0, 0, 0, 0.064);
	--tb-btn-bg-color-active: rgba(0, 0, 0, 0.029);

	--color: #f6f6f6;
	--tb-btn-color: #d6d6d6;
	--tb-btn-bg-color: #0f0f0f98;
	--tb-btn-bg-color-hover: rgba(255, 255, 255, 0.066);
	--tb-btn-bg-color-active: #0f0f0f69;
}

#root {
	height: 100%;
	box-sizing: border-box;
}

#root:not(.linux):not(.web) {
	padding: 32px 8px 8px 8px;
}

html {
	color: var(--color);
	background: var(--background);
}

body {
	height: 100vh;
	/* overscroll-behavior: none;
	overflow: hidden; */
	margin: 0;
}

.decorum-tb-btn {
	cursor: pointer;
	outline: none;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: var(--tb-btn-color);
	background-color: var(--tb-btn-bg-color);
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	text-shadow: 0 0 2px #000;
}

.decorum-tb-btn:hover {
	color: var(--tb-btn-color);
	background-color: var(--tb-btn-bg-color-hover) !important;
	border-color: var(--tb-btn-border-color-active);
}
.decorum-tb-btn:active {
	border-color: var(--tb-btn-border-color-active);
	background-color: var(--tb-btn-bg-color-active);
}

#decorum-tb-close.decorum-tb-btn:hover {
	color: var(--tb-btn-color-close);
}

div[data-tauri-decorum-tb] {
	left: -8px !important;
}

#container {
	background-image: linear-gradient(to bottom, #060710, transparent 40%), url(./assets/thunderstorm.jpg);
	background-size: cover;
	height: 100%;
	display: flex;
	flex-direction: column;

	overflow-x: clip;
    overflow-y: auto;
}

#inner-container {
	margin: 32px;
}

:not(.linux):not(.web) > #container {
	border-radius: 3px;
}

header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 70px;
}

header #my-location {
	margin: 0;
}

header #city-state-temperature {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header #city-state {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 8px;
}

header #city-state #city {
	letter-spacing: 1.5px;
}

header #city,
header #state,
header #temperature {
	margin: 0px;
}

header #city,
header #state,
header #temperature,
header #my-location,
header #type {
	font-weight: lighter;
}

header #my-location,
header #state {
	color: hsl(0, 0%, 60%);
}

header #type {
	margin: 0;
}

main:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 0;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 18px;
	/* backdrop-filter: blur(15px); */
	/* mix-blend-mode: overlay; */
}

.forecast-container {
	position: relative;
	border-radius: 5px;
	padding: 20px;
}

.forecast-container:after {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.forecast-heading {
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 24px;
	mix-blend-mode: overlay;
}

.forecast-item {
	font-size: 12px;
    font-weight: 200;
}

.forecast-image {
	width: 40px;
}

#hourly-forecast-container {
	display: flex;
	flex-direction: column;
}

#hourly-forecast-list {
	display: flex;
	flex-direction: row;
	/* Maybe just make scrollbar nicer */
	overflow-x: clip;
	gap: 20px;
	isolation: isolate;

	mask: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
	-webkit-mask: linear-gradient(to right, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.hourly-forecast-item {
	display: flex;
	flex-direction: column;
    align-items: center;
	min-width: fit-content;
}

#week-air-wind-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#week-air-wind-container > :not(:nth-child(2)) {
	flex: 1;
}

#week-air-wind-container > :nth-child(2) {
	flex: 2;
}

#week-forecast-list {
	display: flex;
	flex-direction: column;
	gap: 0px;
	isolation: isolate;
}

.week-forecast-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.week-forecast-item > * {
	/* WARNING: Changing this can resize the image */
	min-width: 30px;
}

.week-forecast-item > :nth-child(3) {
	color: hsl(0, 0%, 70%);
}

.week-forecast-item > :not(:first-child) {
	text-align: center;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--color: #f6f6f6;
		--background: linear-gradient(180deg, #350042 0%, #1f003b 100%);
		--tb-btn-color: #ffffff;
		--tb-btn-bg-color: #0f0f0f98;
		--tb-btn-bg-color-hover: rgba(255, 255, 255, 0.066);
		--tb-btn-bg-color-active: #0f0f0f69;
	}
} */
